body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.theContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  background-color: rgb(0, 0, 0);
  text-align: left;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  position: relative;
  padding: 20px;
  height: auto;
}
h1 {
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.number {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  color: white;
}
.temp {
  min-width: 100px;
  padding: 5px 0px;
  margin: 4px 0;
  border-radius: 5px;
  background-color: rgb(85, 85, 85);
  border: none;
  color: white;
}
.temp:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(185, 185, 185);
}
.curr {
  max-width: 100px;
  margin: 20px 0px 0px 0px;
}
.tempSelect {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  height: 100px;
  position: absolute;
  top: 175px;
  left: 15px;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  padding: 5px;
}
.temp:focus {
  box-shadow: 1px 1px 3px rgba(0, 255, 255, 0.7);
  color: aqua;
}
.hidden {
  display: none;
}

.result {
  color: white;
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  gap: 5px;
}
.keypad {
  padding: 10px 30px;
  min-width: 80px;
  max-width: 80px;
  border-radius: 5px;
  border: none;
  background-color: rgb(85, 85, 85);
  color: white;
}
.keypad:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(185, 185, 185);
}
